body{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;
}

.container{
    flex: 1;
}


/* navbar styling */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* footer styling */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
}

.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 7rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

/* Card styling */

.listing-card{
    margin-bottom: 2rem;
    border: none !important;
}



.card-img-top{
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 1rem !important;
}

.listing-body{
    padding: 0 !important;
}


.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/*New page style */
.add-btn{
    background-color:#fe424d !important ;
    color: #ebebeb;
    border: none !important;  
}

/*Edit page style */
.edit-btn{
    background-color:#fe424d !important ;
    color: #ebebeb;
    border: none !important;
}

/* Show page style */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.container {
    max-width: 1000px;
}

.show-img {
    height: 300px;
    object-fit: cover;
}

.card {
    border-radius: 10px;
}

.starability-slot {
    margin: 0 auto;
}

.starability-result {
    margin-top: 5px;
}

/* Listing buttons */
.btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    margin-left: 15rem !important;
}

.btns .btn,
.review-btn {
    background-color: #ff385c;
    border: 1px solid #ff385c;
    color: white;
}

.btns .btn:hover,
.review-btn:hover {
    background-color: #e31c5f;
    border-color: #e31c5f;
    color: white;
}

.submit-btn{
     background-color: #ff385c !important;
    border: 1px solid #ff385c !important;
    color: white !important;
}
